.profile1 {
    margin-top: 7%;
}

.profile1 img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}

.profile2 {
    margin-left: 2%;
}

.profile3 {
    display: flex;
    margin-top: 20px;
}

.profile2 h4 {
    font-weight: bold;
}

.profile3 p{
    text-align: center;
}

.profile3 span {
    font-weight: bold;
}

.profile2 p {
    font-size: 20px;
}

.tampilUserPhoto {
    margin-top: 8%;
}

.tampilUserPhoto img {
    width: 250px;
    height: 250px;
}

.fotoOrang img {
    width: 250px;
    height: 250px;
    margin-top: 15%;
    object-fit: cover;
}

.postFooter {
    margin-top: 20px
}

.postBody input[type= "text"]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 5px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

.postBody input[type= "text"]:focus{
    border-color: steelblue;
    box-shadow: 0 0 2px 0 steelblue;
}

.postBody input[type="file"] {
    display: none;
}

.postBody label {
    height: 45px;
    width: 200px;
    background-color: steelblue;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelDiv :hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

.footerPost {
    margin-top: 10px;
}

.SlidePostTag h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.SlidePostTag :hover{
    cursor: pointer;
}
