.navbar1 {
    background-color: black;
    padding: 2%;
    display: flex;
}

.judulNavbar { 
    text-decoration: none;
    color: white;
    margin-top: 30px;
}

.navbarItem1 {
    text-decoration: none;
    color: white;
}

.navbar1 input[type="button"] {
    margin-top: 10px;
    margin-left: 25px;
}

.navbar1 h4 {
    margin-top: 20px;
}